section {
  width: 100%;
  height: 100vh;
  background-image: url("https://images01.nicepage.com/page/61/81/website-template-preview-61818.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.landingButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  height: 100%;
  margin: auto;
}
